<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymleaf.org">
    <!-- CSS, METAS -->
    <section th:replace="views/common/header::headfragment"></section>

<body>
    <div class="container">
        <!-- MAIN MENU -->
        <section  th:replace="views/common/menu::custommenufragment"></section>


        <!-- Form content -->
            <h1>Contact Page Form</h1>
            <form action="#" method="post">
                <p>Message: <input type="text" th:field="*{messageForm}" /></p>
                <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
            </form>

        <!-- Pagination -->
        <section  th:replace="views/common/pagination::paginationfragment"></section>

        <!-- Footer -->
        <section  th:replace="views/common/footer::footerfragment"></section>

    </div>
</body>
</html>