<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymleaf.org">

<!-- CSS, METAS -->
<section th:replace="views/common/header::headfragment"></section>

    <body>
        <div class="container">
            <!-- MAIN MENU -->
            <section  th:replace="views/common/menu::custommenufragment"></section>

            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
            <!-- Footer -->
            <section  th:replace="views/common/footer::footerfragment"></section>
        </div>
    </body>
</html>